.body
{
  background-image: url('images/background.jpg');
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0px !important;
  position: fixed;
  overflow-y: scroll !important;
  scrollbar-width: none;
}
.image
{
  width: 100%;
  height: 300px;
  align-self: center;
}
.card
{
  width: 275px !important;
}
.Body
{
  margin-top: 100px !important;
  margin-bottom: 13vh !important;
}
.header
{
  color: #B8860B !important;
  font-size: 40px !important;
}
.developer
{
  color: #90EE90 !important;
}
.d
{
  margin-right: 0px !important;
}
